<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>{{ site.title }}</title>
    <link href="/dyw/dist/global.css" rel="stylesheet" />
    <link href="/dyw/dist/svelte-bundle.css?{% raw %}{{site.time | date: '%s%N'}}{% endraw %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script defer src="/dyw/dist/svelte-bundle.js?{% raw %}{{site.time | date: '%s%N'}}{% endraw %}" ></script>
    <link rel="shortcut icon" type="image/png" href="/dyw/assets/favicon.png">
  </head>
  <body>
  </body>
</html>
